<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="principal-p">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `principal-p`
     * elemento principal que incluira todo
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PrincipalP extends Polymer.Element {
      static get is() { return 'principal-p'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'principal-p'
          }
        };
      }
    }

    window.customElements.define(PrincipalP.is, PrincipalP);
  </script>
</dom-module>
